* {
  margin: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /* 
  Add this is we choose to allow scrolling while open menu
  overflow: auto !important;
  */
}

#headerDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#logo {
  max-width: 100%;
  height: auto;
}

#pageTitle {
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #3090d4;
}

.navLinks {
  width: 100%;
  text-decoration: none;
  color: #055087;
  text-align: center;
  font-size: large;
}

.navLinks:hover {
  background-color: aquamarine;
}

.currentLink {
  background-color: springgreen;
}

.subButtonLink {
  width: 100%;
  background: none;
  border: none;
  text-decoration: none;
  color: #055087;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: large;
}

.activeSubButtonLink {
  width: 100%;
  background: none;
  border: none;
  text-decoration: none;
  color: #055087;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: large;
  background-color: springgreen;
}

.subButtonLink:focus {
  outline: none;
}

.subMenuLinks {
  color: #055087 !important;
}

.subMenuLinks:hover {
  background-color: aquamarine;
}

.centered {
  text-align: center;
  margin: 0px auto;
}

@media only screen and (min-width: 768px) {
  #logo {
    max-width: 50%;
    margin: auto;
    height: auto;
  }
  #navbar {
    flex-direction: row;
  }
  .navLinks {
    width: 20%;
  }
  body {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  #pageTitle {
    visibility: visible;
    font-size: 5rem;
    margin: auto;
    width: 75%;
    text-align: center;
    height: auto;
  }
  #logo {
    max-width: 25%;
    margin: auto;
    height: auto;
  }
  #headerDiv {
    display: flex;
    flex-direction: row;
  }
}