body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  width: 100%;
}

#pageTitle {
  visibility: hidden;
  width: 0px;
  overflow: hidden;
}

#navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#navbar > * {
  width: 25%;
  border: 0.5px solid gray;
  text-decoration: none;
  color: #055087;
  text-align: center;
}

#navbar > *:hover {
  background-color: aquamarine;
}

.currentLink {
  background-color: springgreen;
}

.centered {
  text-align: center;
  margin: 0px auto;
}

@media only screen and (min-width: 768px) {
  #logo {
    width: 50%;
    margin: auto;
  }
}

@media only screen and (min-width: 1090px) {
  #pageTitle {
    visibility: visible;
    font-size: 5rem;
    width: 75%;
    text-align: center;
  }
  #logo {
    width: 25%;
  }
}